name: "exercici-solucio"
services:
  app1:
    build:
      context: .
      dockerfile: ./app1/Dockerfile
    tty: true
    stdin_open: true
    working_dir: /app
    volumes:
      - ./app1:/app
    ports:
      - "8282:5173"
    command: ["sh", "-c", "npm run build && npm run dev"]
  app2:
    build:
      context: .
      dockerfile: ./app2/Dockerfile
    tty: true
    stdin_open: true
    working_dir: /app/webpack-demos/demo06
    volumes:
      - ./app2-build:/build/app2
    ports:
      - "8083:5173"
  app3:
    build:
      context: .
      dockerfile: ./app3/Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - ./app1/dist:/var/www/app1
      - ./app2-build:/var/www/app2
    ports:
      - "8084:80"
      - "8085:81"
